MESH_REGION=US915
MESH_DEFAULT_TTL=12
SUPABASE_URL=
SUPABASE_ANON_KEY=
CRASH_REPORTING_ENABLED=false
BLE_SERVICE_UUID=9d55b9c8-c063-4ddc-98d1-dfd999e51001
BLE_TX_CHARACTERISTIC_UUID=9d55b9c8-c063-4ddc-98d1-dfd999e51002
BLE_RX_CHARACTERISTIC_UUID=9d55b9c8-c063-4ddc-98d1-dfd999e51003
